<div class="container">
    <div class="row">
        <form (ngSubmit)="onSubmit()" [formGroup]="orderDetailsForm" class="formGroup">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Name" formControlName="userName">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                    formControlName="address">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
                    formControlName="locality">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" formControlName="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control" formControlName="state">
                        <option selected>Choose...</option>
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" formControlName="zip">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Proceed to payment</button>
        </form>


    </div>
</div>