<div class="container">
    <h1>
        Number of items added to Cart {{cartNumber}}
    </h1>

    <div *ngFor="let product of productsInCart">
        <div class="d-flex">

            <div>
                <div>Product Name {{product.productName}}</div>
                <div>Product Type {{product.productType}}</div>
                <div>Product Brand {{product.pbrand}}</div>

                <div>Product Description {{product.description}}</div>

                <div>Website {{product.website}}</div>

            </div>

            <div>
                <div>Product Price {{product.pprice}}</div>
                <br />
                <button class="btn btn-danger" (click)="removeFromCart(product.pid)">
                    Remove From Cart
                </button>
            </div>
        </div>



        <hr />
    </div>


    <button class="btn btn-primary" (click)="proceedToDetailsForm()" [disabled]="productsInCart.length === 0">
        Proceed
    </button>

</div>
<router-outlet></router-outlet>